@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme {
  --color-darkBlue: #1C2E4A;
  --color-mediumBlue: #52677D;
  --color-lightBlue: #BDC4D4;
  --color-yellow: #D1CFC9;
  --color-darkGrey: #0F1A2B
}

h2 {
  font-size: 1.5rem;
  color: #1C2E4A;
}

body {
  /* background: var(--background);
  color: var(--foreground); */
 width: auto;
 scroll-behavior: smooth;
}
