@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
@theme {
  --color-darkBlue: #1C2E4A;
  --mediumBlue: #52677D;
  --color-lightBlue: #BDC4D4;
  --color-yellow: #D1CFC9;
  --color-darkGrey: #0F1A2B;
}

@layer utilities {
  .container-fluid {
    /* width: 100%; */
    width: clamp(20rem,96vw,90rem);
    margin: 0 auto;
  }
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  min-height: 100%;
}
